
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#root {
  max-width: 680px;
  border: 1px solid #dcd9d9;
  height: 100%;
  max-height: 450px;
  margin: 40px;
  overflow: hidden;
}

@media only screen and (max-width: 680px) {
  #root {
    margin: 0px;
    border-left: none;
    border-right: none;
  }
}


.area {
  fill: url(#temperature-gradient);
  stroke-width: 05px;
  z-index: -1;
  clip-path: url(#clip);
}

.line {
  clip-path: url(#clip);
}

.dots {
  clip-path: url(#clip);
}

.xAxis .domain {
  color: rgba(144, 143, 143, 0.54);
}

.xAxis .tick line {
  color: rgba(144, 143, 143, 0.54);
}

.yAxis .domain {
  display: none;
}

.yAxisGrid {
  color: #f3f3f3;
  shape-rendering: crispEdges;
}

.yAxisGrid path {
  stroke-width: 0;
}
